#dynamic{
    width: 100%;
    height: 700px;
    background-color:ghostwhite;
    flex: 1;
    overflow: scroll;
    margin: 0 auto;
    position: relative;
}
#text1{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#朋友圈LOGO{
    height: 40px;
    width: 50px;
    background: url(../img/朋友圈.svg) no-repeat;
    background-size: 40px 40px;
}
#word1{
 flex: 1;
    text-align: left;
    font-weight: 500;
}
#动态{
    height: 30px;
    width: 30px;
    margin-left: 60px;
    font-size: 30px;
    color: grey;
    margin:  0 0 12px 0;
    font-weight: 200;
}
#text2{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#扫一扫LOGO{
    height: 40px;
    width: 50px;
    background: url(../img/扫一扫.svg) no-repeat;
    background-size: 40px 40px;
}
#word2{
    flex: 1;
    text-align: left;
    font-weight: 500;
}
#动态2{
    height: 30px;
    width: 30px;
    margin-left: 60px;
    font-size: 30px;
    color: grey;
    margin:  0 0 12px 0;
    font-weight: 200;}


#text3{

    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#附近的人LOGO{
    height: 40px;
    width: 50px;
    background: url(../img/附近的人.svg) no-repeat;
    background-size: 35px 35px;
}
#word3{
    flex: 1;
    text-align: left;
    font-weight: 500;
}
#动态3{
    height: 30px;
    width: 30px;
    margin-left: 60px;
    font-size: 30px;
    color: grey;
    margin:  0 0 12px 0;
    font-weight: 200;}


#text4{

    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#购物LOGO{
    height: 40px;
    width: 50px;
    background: url(../img/购物.svg) no-repeat;
    background-size: 35px 35px;
}
#word4{
    flex: 1;
    text-align: left;
    font-weight: 500;
}
#动态4{
    height: 30px;
    width: 30px;
    margin-left: 60px;
    font-size: 30px;
    color: grey;
    margin:  0 0 12px 0;
    font-weight: 200;}
#text5{

                          height: 60px;
                          width: 100%;
                          display: flex;
                          justify-content:space-between;
                          align-items: center;
                      }
#游戏LOGO{
    height: 40px;
    width: 50px;
    background: url(../img/附近的人.svg) no-repeat;
    background-size: 35px 35px;
}
#word5{
    flex: 1;
    text-align: left;
    font-weight: 500;
}
#动态5{
    height: 30px;
    width: 30px;
    margin-left: 60px;
    font-size: 30px;
    color: grey;
    margin:  0 0 12px 0;
    font-weight: 200;}
#text6{

                          height: 60px;
                          width: 100%;
                          display: flex;
                          justify-content:space-between;
                          align-items: center;
                      }
#小程序LOGO{
    height: 40px;
    width: 50px;
    background: url(../img/小程序.svg) no-repeat;
    background-size: 35px 35px;
}
#word6{
    flex: 1;
    text-align: left;
    font-weight: 500;
}
#动态6{
    height: 30px;
    width: 30px;
    margin-left: 60px;
    font-size: 30px;
    color: grey;
    margin:  0 0 12px 0;
    font-weight: 200;}